<%- include('../partials/header') %>

<form action="/skills" method="POST" autocomplete="off">
  <label>Skill
    <input type="text" name="skill">
  </label>
  <label>Description
    <input type="text" name="description">
  </label>
  <button type="submit">Save Skill</button>
</form>

<%- include('../partials/footer') %>