<%- include('../partials/header') %>

<form action="/skills" method="POST" autocomplete="off">
  <label>Skill
    <input type="text" name="skill">
  </label>
  <label>Description
    <textarea name="description"cols="30" rows="10"></textarea>
  </label>
  <button class="save-btn" type="submit">Save Skill</button>
</form>

<%- include('../partials/footer') %>