body {
  padding: 50px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}

a {
  color: #00B7FF;
  text-decoration: none;
  margin: 0 3px 0 3px;
}

a:hover{
  color:#91e0ff;
}

h1{
  font-size: 3rem;
}

img{
  height: 50vmin;
}

hr{
 border-top: 1vmin solid black;
 width: 50vw;
 margin-left: 0;
}

ul{
  list-style-type:"\/ᐠ｡ꞈ｡ᐟ\\  ";
  padding-left: 4.5vw;
}

li{
  margin: 1.3vmin 0 1.3vmin 2vmin;
}

input , button, textarea{
  height: 3vmin;
  width: 10vw;
  border: 1px solid rgb(213, 213, 213);
  background-color:#f3fcff; 
  border-radius: 2px;
  font-size: 2vmin;
  padding: 0.5vmin;
  border-radius: 0.7vmin;
  color: rgb(105, 105, 105);
}


.delete-btn{
  vertical-align: middle;
  margin-bottom: 0.4vmin;
  width: 4vmin;
  text-align: center;
  color: gray;
  font-size: 2.2vmin;
  padding: 0.1vmin 0.7vmin 0.5vmin 0.7vmin;
  opacity: 0.6;
}

label{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1vmin 0 1vmin 0;
}

label>input, textarea{
  grid-column: 1;
  width: auto;
}

textarea{
  height: auto;
  width: auto;
}

textarea{
  grid-row: 2;
}

.add-btn, .edit-btn{
  background-color:rgb(238, 238, 238);
  padding: 1vmin;
  border-radius: 0.6vmin;
  margin-left: 5.3vw;
}

button:hover{
  background-color: #9ce2fd; 
}

.delete-form{
  display: inline;
}

.edit-btn{
  margin: 0;
}

.update-btn{
  height: 4.23vmin;
  width: 16vmin;
}

form{
  color: gray;
}

.save-btn{
  height: 3.4vmin;
}